<div class="background-center height-full separator"
    style="background-image: url({{backgroundImgUrl}})">
    <div class="container-flex background-center height-full" style="background: {{backgroundGradient}}">
        <div class="item-flex-2 cursor-pointer" ng-click="showChart = !showChart">
            <div class="city-name">
                {{city.name}}, <span class="country">{{city.sys.country}}</span>
            </div>

            <div class="forecast container-table">
                <div class="item-table-cell forecast-item forecast-left">
                    {{city.main.temp | number: 0}} °C
                </div>
                <div class="item-table-cell forecast-item forecast-right">
                    <weather-icon weather-type="city.weather[0].main"></weather-icon>
                </div>
            </div>

            <div class="container-table">
                <div class="item-table-cell">
                    Sunrise: {{city.sys.sunrise * 1000 | date: "h:mma"}}
                </div>
                <div class="item-table-cell">
                    Sunset: {{city.sys.sunset * 1000 | date: "h:mma"}}
                </div>
            </div>

            <div class="forecast-container" ng-if="weatherForecast.length && showChart">
                <div class="forecast-wrapper" ng-repeat="forecast in weatherForecast">
                    <div class="item-flex-1">{{forecast.day}}</div>
                    <div class="item-flex-1">{{forecast.forecast.temp.max | number: 0}} °C</div>
                    <div class="item-flex-1"><weather-icon weather-type="forecast.forecast.weather[0].main"></weather-icon></div>
                </div>
            </div>
        </div>
    </div>
</div>
